/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Heebo', sans-serif;
  line-height: 1.2; }

h1 {
  font-size: 50px;
  font-weight: 900; }

h2 {
  font-size: 40px;
  font-weight: 500; }

h3 {
  font-size: 30px;
  font-weight: 400; }

h4 {
  font-size: 20px;
  font-weight: 400; }

a {
  text-decoration: none; }

.menu-btn {
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 12;
  cursor: pointer; }

.menu-btn .hamburger {
  width: 43px;
  height: 4px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all .5s ease-in-out; }

.menu-btn .hamburger::before {
  content: '';
  position: absolute;
  top: -15px;
  width: 43px;
  height: 4px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all .5s ease-in-out; }

.menu-btn .hamburger::after {
  content: '';
  position: absolute;
  top: 15px;
  width: 43px;
  height: 4px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all .5s ease-in-out; }

.menu-btn.is-active .hamburger {
  background-color: transparent;
  box-shadow: transparent; }

.menu-btn.is-active .hamburger::before {
  top: 0;
  transform: rotate(45deg); }

.menu-btn.is-active .hamburger::after {
  top: 0;
  transform: rotate(135deg); }

#menu {
  width: 100%;
  height: 100%;
  top: 0;
  left: -1400px;
  overflow: hidden;
  background-color: black;
  position: absolute;
  z-index: 11;
  opacity: 0;
  transition: all 0.5s; }

#menu.enter {
  opacity: 1;
  left: 0; }

.height {
  height: 100vh !important;
  z-index: 999; }

body {
  background: #111116; }

.anim {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.anim svg {
  position: absolute;
  height: 100vh; }

.anim path {
  stroke-width: 2.5; }

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
  color: white;
  width: 80%;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%); }

.buttons {
  position: absolute;
  z-index: 3;
  color: white;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%); }

li {
  padding: 12px 40px;
  margin-bottom: 20px;
  background: #466fbd;
  border-radius: 5px;
  text-align: center; }

li a {
  color: #fff;
  font-weight: 300;
  font-size: 19px; }
